<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link
     	  href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
      	  rel="stylesheet"
    	/>
		<link
      	 rel="stylesheet"
     	 href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
     	 integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
     	 crossorigin="anonymous"
   		 />
    	<link rel="stylesheet" href="./style.css" />
	</head>
	
<header>
    <h1>Registration</h1>
</header>

<body>
<div class="container">
    <% if (locals.error) { %>
        <div class="alert alert-danger mt-2">
            <strong>Registration failed!</strong> <%= error %>
        </div>
    <% } %>

    <div class="shadow p-4 mx-auto mt-4">
        <h2 class="text-center">Register</h2>
        <form method="POST" action="/register">
            <div class="form-group">
                <label for="firstname">Firstname:</label>
                <input type="text" name="firstname" class="form-control" placeholder="Enter firstname"
                       id="firstname" value="<%= locals.firstname ? firstname : '' %>" required>
            </div>
            <div class="form-group">
                <label for="lastname">Lastname:</label>
                <input type="text" name="lastname" class="form-control" placeholder="Enter lastname" id="lastname"
                       value="<%= locals.lastname ? lastname : '' %>"
                       required>
            </div>
            </div>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" class="form-control" placeholder="Enter username" id="username"
                       value="<%= locals.username ? username : '' %>" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" class="form-control" placeholder="Enter password"
                       id="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <p class="text-center mt-2">Already a member? Please log in <a href="/login">here</a>!</p>
</div>

</body>

</html>